<h1 class="title">Pokedex</h1>
<div class="add-new"><a class="delete" href="/new">Add New</a></div>
<ul>
    <% @pokemon.each do |poke|%>
    <a href="/<%= poke.id %>">
        <li>
            <div class="pokemon">
                <div class="poke-header">
                    <h2><%= poke.name %></h2>
                    <h3>CP <%= poke.cp %></h3>
                </div>
                <div>
                    <img src="<%= poke.img_url %>">
                </div>
                <div>
                    <h3><span class="poke-type">Type: <%= poke.poke_type %></span></h3>
                </div>
            <div>
        </li>
    </a>
    <% end %>
</ul>
<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="<%= url("js/index.js") %>"></script>